/* ESTILOS GENERALES DEL BODY */
body {
  background: linear-gradient(90deg, #4b0082, #007887);
  opacity: 0.8;
  overflow: hidden;
}

/* ESTILOS DE BARRA SUPERIOR DE NAVEGACION */
/* Solo agregamos una pseudoclase :hover a los iconos de la barra superior */
.nav-icon-custom:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}


/* ACA ESTABLECEMOS QUE LAS SECCIONES ESTEN OCULTAS EN EL INICIO */
#dash-panel {
  display:none;
}

#dash-a-alumno {
  display: none;
}

#dash-a-masivo {
  display: none;
}

#dash-examen {
  display: none;
}

#dash-programar-examen {
  display: none;
}

/* ESTILOS DE BARRA LATERAL DE NAVEGACION */
#sidebar-wrapper {
  z-index: 999;
  position: fixed;
  left: 0px;
  width: 250px;
  height: 100%;
  overflow-y: auto;   /* Si en algun momento agregasemos mas secciones, y ellas superaran el alto total de la barra, se activara el scroll */
  border: solid 1px #414141;
}

/* establecemos la posicion de la barra lateral como absoluta, quitamos cualquier espacio, definimos el ancho en 250 y le quitamos el estilo por defecto a las listas */
.sidebar-nav {
  position: absolute;
  display: inline-block;
  top: 0;
  width: 300px;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  list-style: none;
}
/* con esto formateamos los iconos */
.sidebar-nav img{
  margin-top: 18px;
  float: left;
}
.sidebar-nav span {
  margin: 0 0 0 10px;
  display: block;
}

/* establecemos los espacios de identacion de las listas, ademas del espaciado entre lineas */

.sidebar-nav li {
  font-family: 'Baloo Tammudu 2', cursive;
  font-size: 20px;
  text-indent: 20px;
  line-height: 70px;
}
/* establecemos algunas propiedades para los elementos <a> del sidebar */
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

/* establecemos efectos para cuando pasemos con el cursor por el sidebar */
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}
/* creamos un footer que posicionaremos en la parte inferior de la barra lateral */
.sidebar-footer {
  font-family: 'Baloo Tammudu 2', cursive;
  padding-bottom: 15px;
  text-align: center;
  font-size: 12px;
  border: 1px solid #414141;
  z-index: 1000;
  bottom: 7.3%;
  height: 70px;
  width: 100%;
  position: absolute;
}
/* le ponemos un lindo hover para cuando pasemos por arriba */
.sidebar-footer:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

/* ESTILOS PARA LAS SECCIONES */
/* contedremos las secciones en un contenedor */
.dash-contenedor {
  display: flex;
  padding-left: 250px;
}
/* establecemos  una clase que se reutilizara en todas las secciones, definimos el grid que usaremos*/
.dash-panel {
  font-family: 'Baloo Tammudu 2', cursive;
  border: solid 1px #414141;
  display: grid;
  padding: 4px;
  width: 100%;
  height: 90vh;
  margin: 5px;
  border-radius: 5px;
  opacity: 0.9;
  /* colocaremos una cuadricula de 12 col x 12 filas y un espaciado de 5px respectivamente */
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 5px 5px;
}

/* el contenido tendra 10col x 13 filas, todo el alto */
.dash-contenido {
  grid-column: 1 / 10;
  grid-row: 1 / 13;
}
/* quitamos los estilos de fuente para mejorar la visualizacion de las pills/inputs/etc de la libreria */
.dash-contenido input {
  font-size: 15px;
  font-family: sans-serif;
}
.dash-contenido select {
  font-size: 15px;
  font-family: sans-serif;
}
.pill-custom {
  font-size: 12px;
  font-family: sans-serif;
  margin-left: 15px;
}
.dash-contenido button {
  font-size: 15px;
  font-family: sans-serif;
}
/* el panel lateral superior quedara de 3 columnas de ancho x 8 col de alto */
.dash-side-superior {
  grid-column: 10 / 13;
  grid-row: 1 / 9;
}
.dash-side-superior span {
  font-family: sans-serif;
}
/* el panel lateral inferior quedara de 3 columnas de ancho x 4 col de alto */
.dash-side-inferior {
  grid-column: 10 / 13;
  grid-row: 9 / 13;
}
.dash-side-inferior span {
  font-family: sans-serif;
  color: black;
}
/* el footer solo se ve en una de las secciones, sin embargo establecemos sus posicion usando el grid */
.dash-footer {
  height: 100%;
  grid-column: 1/10;
  grid-row: 10/13;
}

/*
*
* ==========================================
* CALENDARIO
* ==========================================
*
*/
.clearfix::after,
.calendar ol::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* ================
Calendar Styling */
.calendar {
  border-radius: 10px;
}

.month {
  font-size: 1.5rem;
}

@media (min-width: 992px) {
  .month {
    font-size: 3.5rem;
  }
}

.calendar ol li {
  float: left;
  width: 14.28571%;
}

.calendar .day-names {
  border-bottom: 1px solid #eee;
}

.calendar .day-names li {
  text-transform: uppercase;
  margin-bottom: 0.2rem;
}

.calendar .days li {
  border-bottom: 1px solid #eee;
  min-height: 5rem;
}

.calendar .days li .date {
  margin: 0.5rem 0;
}

.calendar .days li .event {
  font-size: 0.75rem;
  padding: 0.4rem;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 4rem;
  margin-bottom: 1px;
}

.calendar .days li .event.span-2 {
  width: 200%;
}

.calendar .days li .event.begin {
  border-radius: 1rem 0 0 1rem;
}

.calendar .days li .event.end {
  border-radius: 0 1rem 1rem 0;
}

.calendar .days li .event.clear {
  background: none;
}

.calendar .days li:nth-child(n+29) {
  border-bottom: none;
}

.calendar .days li.outside .date {
  color: #ddd;
}
@media (max-width: 380px) {
  body {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2px;
  }

}
